
<div class="about-container">
	<div class="about-header-container">
		<img src="../images/behind-the-cards.png" alt="" id="about-image-header">
	</div>	
	<div class="well" id="about-well">

		<div class="about">
			<h4>"Cards For The Culure is committed to reconnecting the culture through its trivia games by providing memorable and nostalgic experiences to new acquaintances, longtime friends, families, and loved ones"</h4>
			<img src="../images/tri-card-logotype.png" alt="" id="">
		</div>
		<div class="about">
			<h4>Jason Gray is the Founder/Creative Director for Cards For the Culture and Republic & Co.. "My vision for Cards For the Culture. is to build the largerst ecommerce trivia library in the world." Cards For the Culture also dubbed as "The Trivia Library was birthed in May of 2017".</h4>
			<img src="../images/tri-card-logotype.png" alt="" id="">
		</div>

		<div class="about">
			<h4>Rick Gray is the Director of Partnerships and Brand Development for Cards For The Culture. and Republic & Co.. "I want Cards For the Culture to be a one stop shop for trivia games like how Amazon used to be with ebooks. We can dominate the market with our trivia library."</h4>
			<img src="../images/tri-card-logotype.png" alt="" id="">
		</div>

		<div class="about">
			<h4>"I remember being at a game night in May of 2016 watching a group of people play spades. I then noticed it was about 4 people on their phone and 3 other people having random conversations. At that point, I realized I could come up with some games athat everybody could play and enjoy themselves. That's when I came up with an idea to create the "Martin Trivia" games."" - Jason Gray</h4>
			<img src="../images/tri-card-logotype.png" alt="" id="">
		</div>

	</div>
</div>
