<!DOCTYPE html>
<html>
<head>
	<title>CardsForCulture</title>
	<%= csrf_meta_tags %>

	<style>
	.parallax {
		/* The image used */
		background-image:
		linear-gradient(
			rgba(355, 355, 355, 0.7),
			rgba(355, 355, 355, 0.5)
			), url('images/DSC_0028.jpg');
		min-width: 1366px;
		/* Set a specific height */
		min-height: 455px; 
		left: 100%;
		/* Create the parallax scrolling effect */
		background-attachment: fixed;
		background-position: center;
		background-repeat: repeat;
		background-size: cover;
	}
	</style>

	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

            <!-- Basic Page Needs
            ================================================== -->
            <meta charset="utf-8">
            <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
            <link rel="icon" type="image/png" href="images/favicon.png">
            <title>Timer Agency Template</title>
            <meta name="description" content="">
            <meta name="keywords" content="">
            <meta name="author" content="">
        <!-- Mobile Specific Metas
        ================================================== -->
        <meta name="format-detection" content="telephone=no">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <!-- Template CSS Files
        ================================================== -->
        <!-- Twitter Bootstrs CSS -->
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <!-- Ionicons Fonts Css -->
        <link rel="stylesheet" href="css/ionicons.min.css">
        <!-- animate css -->
        <link rel="stylesheet" href="css/animate.css">
        <!-- Hero area slider css-->
        <link rel="stylesheet" href="css/slider.css">
        <!-- owl craousel css -->
        <link rel="stylesheet" href="css/owl.carousel.css">
        <link rel="stylesheet" href="css/owl.theme.css">
        <link rel="stylesheet" href="css/jquery.fancybox.css">
        <!-- template main css file -->
        <link rel="stylesheet" href="css/main.css">
        <!-- responsive css -->
        <link rel="stylesheet" href="css/responsive.css">

        <link rel="stylesheet" href="../font-awesome-4.7.0/css/font-awesome.min.css">

        <link href="https://netdna.bootstrapcdn.com/font-awesome/4.0.1/css/font-awesome.css" rel="stylesheet">
        
        <!-- Template Javascript Files
        ================================================== -->
        <!-- modernizr js -->
        <script src="js/vendor/modernizr-2.6.2.min.js"></script>
        <!-- jquery -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <!-- owl carouserl js -->
        <script src="js/owl.carousel.min.js"></script>
        <!-- bootstrap js -->

        <script src="js/bootstrap.min.js"></script>
        <!-- wow js -->
        <script src="js/wow.min.js"></script>
        <!-- slider js -->
        <script src="js/slider.js"></script>
        <script src="js/jquery.fancybox.js"></script>
        <!-- template main js -->
        <script src="js/main.js"></script>
    </head>

    <body>
  	<!--
        ==================================================
        Header Section Start
        ================================================== -->
        <header id="top-bar" class="navbar-fixed-top animated-header">
        	<div class="container">
        		<div class="navbar-header">
        			<!-- responsive nav button -->
        			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        				<span class="sr-only">Toggle navigation</span>
        				<span class="icon-bar"></span>
        				<span class="icon-bar"></span>
        				<span class="icon-bar"></span>
        			</button>
        			<!-- /responsive nav button -->

        			<!-- logo -->
        			<div class="navbar-brand">
        				<a href="index.html" >
        					<img src="images/cc-logo.png" alt="" id="logo-image">
        				</a>
        			</div>
        			<!-- /logo -->
        		</div>
        		<!-- main menu -->
        		<nav class="collapse navbar-collapse navbar-right" role="navigation">
        			<div class="main-menu">
        				<ul class="nav navbar-nav navbar-right">
        					<li>
        						<a href="/pages" >Home</a>
        					</li>
        					<li><a href="/ourstory">Our Story</a></li>
        					<li><a href="service.html">Shop</a></li>
        					<li class="dropdown">
        						<a href="#" class="dropdown-toggle" data-toggle="dropdown">The Trivia Library <span class="caret"></span></a>
        						<div class="dropdown-menu">
        							<ul>
        								<li><a href="404.html">404 Page</a></li>
        								<li><a href="gallery.html">Gallery</a></li>
        							</ul>
        						</div>
        					</li>
        					<li class="dropdown">
        						<a href="#" class="dropdown-toggle" data-toggle="dropdown">Blog <span class="caret"></span></a>
        						<div class="dropdown-menu">
        							<ul>
        								<li><a href="blog-fullwidth.html">Blog Full</a></li>
        								<li><a href="blog-left-sidebar.html">Blog Left sidebar</a></li>
        								<li><a href="blog-right-sidebar.html">Blog Right sidebar</a></li>
        							</ul>
        						</div>
        					</li>
        					<li><a href="contact.html">Contact</a></li>
        				</ul>
        			</div>
        		</nav>
        		<!-- /main nav -->
        	</div>
        </header>

       

            <%= yield %>

            <!--
            ==================================================
            Call To Action Section Start
            ================================================== -->
            <section id="middle-footer">
           <footer id="footer-Section">
  <div class="footer-top-layout">
    <div class="container">
      <div class="row">
        <div class="OurBlog">
          <h4>Our Blog</h4>
          <p>BCM wins mandate for Avendus Wealth Management portal revamp</p>
          <div class="post-blog-date">20th Oct 2016</div>
        </div>
        <div class=" col-lg-8 col-lg-offset-2">
          <div class="col-sm-4">
            <div class="footer-col-item">
              <h4>Go Travel Cloud</h4>
              <address>
              501,507 your company address<br>
              400015 Maharashtra, UK
              </address>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="footer-col-item">
              <h4>Reach Us</h4>
              <div class="item-contact"> <a href="tel:630-885-9200"><span class="link-id">P</span>:<span>630-885-9200</span></a> <a href="tel:630-839.2006"><span class="link-id">F</span>:<span>630-839.2006</span></a> <a href="mailto:info@brandcatmedia.com"><span class="link-id">E</span>:<span>info@brandcatmedia.com</span></a> </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="footer-col-item">
              <h4>Sign up for Newsletter</h4>
              <form class="signUpNewsletter" action="" method="get">
                <input name="" class="gt-email form-control" placeholder="You@youremail.com" type="text">
                <input name="" class="btn-go" value="Go" type="button">
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</footer>
            	</section>
            	<!--
            	==================================================
            	Footer Section Start
            	================================================== -->
            	<footer id="footer">
            		<div class="container">
            			<div class="col-md-8">
            				<p class="copyright">Copyright: <span>2017</span> . Design and Developed by <a href="www.danasblack.com">D Black Web Development and Design</a></p>
            			</div>
            			<div class="col-md-4">
            				<!-- Social Media -->
            				<ul class="social">
            					<li>
            						<a href="http://wwww.fb.com/themefisher" class="Facebook">
            							<i class="ion-social-facebook"></i>
            						</a>
            					</li>
            					<li>
            						<a href="http://wwww.twitter.com/themefisher" class="Twitter">
            							<i class="ion-social-twitter"></i>
            						</a>
            					</li>
            					<li>
            						<a href="#" class="Linkedin">
            							<i class="ion-social-linkedin"></i>
            						</a>
            					</li>
            					<li>
            						<a href="http://wwww.fb.com/themefisher" class="Google Plus">
            							<i class="ion-social-googleplus"></i>
            						</a>
            					</li>
            				</ul>
            			</div>
            		</div>
            		
            	</footer> <!-- /#footer -->
            </body>
            </html>
